.trending {
  display: flex;
  position: relative;
  gap: 65px;
}

.trending__shoe {
  position: absolute;
  top: -50px;
  left: 70px;
}

.trending__info {
  margin-top: 100px;
  position: relative;
}

.trending__title {
  max-width: 620px;
  font-size: 96px;
}

.trending__text {
  max-width: 610px;
  font-size: 21px;
}

.trending__button {
  border: solid #000 5px;
  border-radius: 5px;
  background-color: #AA14F0;
  color: #FFF;
  text-transform: uppercase;
  font-size: 29px;
  font-weight: 600;
  height: 77px;
  width: 197px;
  z-index: 1;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 30px;
}

.trending__button-shadow {
  height: 77px;
  width: 197px;
  border: solid #000 5px;
  border-radius: 5px;
  background-color: #E73F0A;
  position: absolute;
  top: 356px;
  left: 12px;
}

.trending__star {
  position: absolute;
}

.trending__star:nth-of-type(1) {
  top: 0;
  left: 420px;
}

.trending__star:nth-of-type(2) {
  top: 670px;
  left: 800px;
}

.trending__boom {
  position: absolute;
}

.trending__boom:nth-last-child(2) {
  top: 600px;
  left: 30px;
}

.trending__boom:nth-last-child(1) {
  top: 500px;
  right: 30px;
}

.trending__photo {
  position: absolute;
  right: 0;
  top: 600px;
}

.trending__vector {
  position: absolute;
}

.trending__vector:nth-last-child(2) {
  left: -40px;
  top: 180px;
}

.trending__vector:nth-last-child(1) {
  left: -80px;
  top: 200px;
}