@import url('../vendor/normalize.css');
@import url('../vendor/fonts.css');
@import url('../blocks/page.css');
@import url('../blocks/header.css');
@import url('../blocks/hero.css');
@import url('../blocks/stats.css');
@import url('../blocks/trending.css');
@import url('../blocks/shoes.css');
@import url('../blocks/popular.css');

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

button {
    cursor: pointer;
}